@font-face {
  font-family: "Monument";
  font-style: normal;
  font-weight: normal;
  src: local("Monument"), url("MonumentExtended-Regular.woff") format("woff");
}
@font-face {
  font-family: "Monument Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Monument Bold"),
    url("MonumentExtended-Ultrabold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  /*border: solid white 1px;*/
}
body {
  background: url(./img/bg-home.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  transition: ease-out;
}
.hoverbg {
  background: #1b1a1a;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-text-stroke: inherit;
}
h1 {
  font-family: "Monument";
  transition: 0.3s ease-out;
}
h1:hover {
  cursor: pointer;
}
.name {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 5rem;
  font-family: "Monument Bold";
  letter-spacing: 8px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transition: 0.3q s ease-in-out;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.navitem {
  -webkit-text-stroke: 0.5px white;
  transition: ease-in-out;
  font-size: 3rem;
  margin: 2rem;
}
.navitem span {
  transition: ease-in-out;
  display: none;
}
#about {
  position: absolute;
  top: 0;
  left: 0;
}
#work {
  position: absolute;
  top: 0;
  right: 0;
}
#contact {
  position: absolute;
  bottom: 0;
  left: 0;
}
#stuff {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  .name {
    -webkit-text-stroke: 1px white;
    font-size: 3rem;
    font-family: "Monument Bold";
    letter-spacing: 8px;
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
    display: block;
  }
  .nav-container {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navitem {
    padding: 0;
    margin: 0;
    margin-top: 5%;
    width: 100%;
    font-size: 2rem;
    display: block;
  }
  .navitem span {
    transition: ease-in-out;
    display: none;
  }
  #about {
    position: relative;
  }
  #work {
    position: relative;
  }
  #contact {
    position: relative;
  }
  #stuff {
    position: relative;
  }
}
